.barcrawl-container-wrapper {
	background-color: #381d5b;
	padding: 10px;
	height: 80vh;
	overflow: hidden;
	.barcrawl-arr {
		display: flex;
		justify-content: space-between;
		.barcrawl-arr-left {
			height: 50px;
		}
		.barcrawl-arr-right {
			height: 50px;
		}
	}
}
