@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.barcrawl-container {
	background-color: $main-purple;
	overflow: hidden;
	position: relative;
	height: calc(100vh - 200px);
	.barcrawl-wrapper {
		margin: 10px;
	}
	.barcrawl-arr {
		display: flex;
		justify-content: space-between;
		.barcrawl-arr-left {
			height: 50px;
		}
		.barcrawl-arr-right {
			height: 50px;
		}
	}
}
