.modal_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modal_container {
    border: 1px  #412366;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
  }
}