@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/reset.scss";

@mixin line {
  margin-top: 10px;
  content: "";
  display: block;
  height: 1px;
  width: 250px;
  background: #e3e3e3;
}
@mixin Roboto-regular {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin Roboto-bold {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-wrapper {
  position: relative;
  width: 100%;
  .slide-block {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider-block {
    width: 100%;
  }
  .wave-block {
    background: url("./assets/wave.png") center/cover no-repeat;
    width: 100%;
    height: 35px;
    position: absolute;
    z-index: 1;
    bottom: -1px;
  }
}
.bar-header {
  margin: 0 auto;
  width: 320px;
  height: auto;
  padding-bottom: 20px;
  padding-left: 50px;
  h1 {
    color: $main-purple;
    font-size: 20px;
    padding-top: 10px;
    @include Roboto-bold;
  }
  p {
    color: $main-pink;
    margin-left: 15px;
    @include Roboto-regular;
    font-size: 11px;
  }
}
.bonus-container {
  display: flex;
  margin: 0 auto;
  width: 320px;
  height: auto;
  margin-bottom: 35px;
  .gift {
    background: url("./assets/gift.png") center/cover no-repeat;
    width: 27px;
    height: 31px;
    margin-left: 17px;
    margin-right: 7px;
  }
  .bonus {
    height: 40px;
    display: flex;
    flex-direction: column;
    height: 20px;
    .blue-text {
      margin-top: -3px;
      color: $main-blue;
      @include Roboto-bold;
    }
    .gray-text {
      margin: 0;
      color: #777;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
    }
  }
}
.descripton-container {
  margin-bottom: 30px;
  .main-descripton {
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: auto;
    .information {
      background: url("./assets/i.png") center/ cover no-repeat;
      width: 23px;
      height: 23px;
      margin-left: 20px;
      margin-right: 10px;
    }
    p {
      @include Roboto-regular;
      color: #666;
      width: 255px;
      &:after {
        @include line;
      }
    }
  }
  .phone-number {
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: auto;
    .phone-img {
      background: url("./assets/phone.png") center/ cover no-repeat;
      width: 22px;
      height: 23px;
      margin-left: 20px;
      margin-right: 5px;
      margin-top: -7px;
    }
    p {
      @include Roboto-regular;
      color: #666;
      padding-left: 7px;
      &:after {
        @include line;
      }
    }
  }
  .name-container {
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: auto;
    .facebook {
      background: url("./assets/fb.png") center/ cover no-repeat;
      width: 23px;
      height: 23px;
      margin-left: 20px;
      margin-right: 5px;
    }
    p {
      @include Roboto-regular;
      padding-left: 7px;
      line-height: 23px;
      color: #666;
      &:after {
        @include line;
      }
    }
  }
  .time-chedule {
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: auto;
    .bell {
      background: url("./assets/clock.png") center/ cover no-repeat;
      width: 23px;
      height: 23px;
      margin-left: 20px;
      margin-right: 7px;
    }
    p {
      @include Roboto-regular;
      padding-left: 5px;
      line-height: 23px;
      color: #666;
      &:after {
        @include line;
      }
    }
  }
}
.buttons-container {
  display: flex;
  .one-more {
    display: flex;
    width: 49.7%;
    height: 65px;
    background-color: $main-pink;
    color: #fff;
    border: 1px solid $main-pink;
    .arrow {
      width: 14px;
      height: 14px;
      border: 2px solid #eee;
      margin-left: 20px;
      margin-right: 10px;
      margin-top: 10px;
      border-left: none;
      border-top: none;
      transform: rotate(135deg);
    }
    .btn-block {
      .top-text {
        @include Roboto-regular;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: left;
      }
      .bottom-text {
        @include Roboto-regular;
        font-size: 10px;
        letter-spacing: 1.5px;
      }
    }
  }
  .time {
    @include Roboto-regular;
    border: 1px solid $main-blue;
    width: 49.7%;
    height: 65px;
    background-color: $main-blue;
    letter-spacing: 3px;
    color: #fff;
    font-size: 18px;
    margin-left: 2px;
    margin-right: -10px;
  }
}

