@import '../../../styles/modals';
@import '../../../styles/colors';

.toBarModal-wrapper {
  @include modal-wrapper-style;
  .toBarModal-container {
	@include modal-container-style;
	background: $main-purple;
	width: 75%;
	height: 40%;
	.toBarModal-text {
	  text-align: center;
	  color: $white;
	  font-family: 'Roboto-Regular', sans-serif;
	  height: 50px;
	  padding: 5px;
	  background: $main-blue;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  line-height: normal;
	  display: table-cell; //Обрати сюда внимание!!!
	  vertical-align: middle;
	}
	.toBarModal-icon {
	  width: 90%;
	  height: calc(100% - 40px);
	  margin-top: 10px;
	  background: url("toBarModalIcon.png") center/contain no-repeat;
	}
  }
}