* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: solid 1px #000;
  border-radius: 10px;

  .feed-bar {
    display: flex;

    .logo-bar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 10px;
      margin-top: 10px;
    }

    .feed-account {
      margin: 13px 0 0 10px;

      .name-bar {
        margin-bottom: 3px;
      }

      .feed-time {
        font-size: 10px;
      }
    }
  }

  .feed-about {
    padding: 0 10px;
  }

  .feed-img {
    width: 100%;
    height: 100px;
  }

  .feed-back {
    display: flex;
    justify-content: center;
  }
}
