@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.container {
	width: 100%;
	height: calc(100% - 150px);
	position: absolute;
	background-color: $main-purple;
	overflow: scroll;
}
