.Wrapper {
    background: url(./background.jpg) no-repeat center / cover ;
    
    .logo {        
        padding-top: 150px;
        padding-bottom: 260px;
        height: 110px;
        width: 260px;
        margin-left: 55px
    }
    
}