@import "src/ui/styles/modals";
@import "src/ui/styles/colors";

.bonusBarModal-wrapper {
  @include modal-wrapper-style;
  .bonusBarModal-container {
	@include modal-container-style;
	font-size: 18px;
	background: $main-purple;
	width: 75%;
	height: 40%;
	text-align: center;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	.bonusBarModal-title {
	  width: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  color: $white;
	  font-family: 'Roboto-Regular', sans-serif;
	  height: 20%;
	  background: $main-blue;
	  border-top-left-radius: 20px;
	  border-top-right-radius: 20px;
	}
	.bonusBarModal-icon {
	  display: flex;
	  width: 100%;
	  height: 60%;
	  background: url("BonusBarIcon.png")  center no-repeat;
	}
	.bonusBarModal-bonus {
	  align-items: center;
	  justify-content: center;
	  display: flex;
	  height: 20%;
	  color: $white;
	  font-family: 'Roboto-Regular', sans-serif;
	}
	.bonusBarModal-nextButton {
	  align-items: center;
	  justify-content: center;
	  display: flex;
	  margin-top: 5px;
	  background: rgba(247,123,190, 1);
	  color: $white;
	  height: 50px;
	  border-bottom-left-radius: 20px;
	  border-bottom-right-radius: 20px;
	  font-family: 'Roboto-Regular', sans-serif;
	}
  }
}