@import "src/ui/styles/fonts";
@import "src/ui/styles/colors";

.button_wrapper {
  width: 100%;
  height: calc(100% - 150px);
  position: absolute;
  background: $purple-gradient-background;
  .button_container {
    background: url('Circles.png') center/cover no-repeat;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 175px;
      height: 175px;
      line-height: 175px;
      letter-spacing: 2px;
      color: $white;
      text-decoration: none;
      text-align: center;
      font-size: 40px;
      font-family: 'Roboto-Bold', sans-serif;
      background: $blue-gradient-background;
      border-radius: 50%;
      border: none;
    }
  }
}

