@import 'src/ui/styles/reset';
@import "src/ui/styles/fonts";
@import "src/ui/styles/colors";

.button_wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(49, 25, 81, 1) 0%,
    rgba(65, 34, 102, 1) 50%
  );
  .button_container {
    background: url('../../../assets/img/Circles.png') center/contain no-repeat;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 175px;
      height: 175px;
      line-height: 175px;
      letter-spacing: 2px;
      color: $white;
      text-decoration: none;
      text-align: center;
      font-size: 40px;
      font-family: 'Roboto-Bold', sans-serif;
      background: linear-gradient(
        0deg,
        rgba(45, 104, 183, 1) 40%,
        rgba(1, 150, 255, 1) 100%
      );
      border-radius: 50%;
      border: none;
    }
  }
}
