@import '../../../styles/reset.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.bc-page-item {
  .bc-header {
    display: flex;
    width: 100%;
    align-content: space-between;
    .bc-image-wrapper {
      width: 50%;
      .bc-image {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
