.slider-wrapper {
  position: relative;
  width: 100%;
  .slider-block {
    width: 100%;
  }
  .wave-block{
    background: url('../../../../../assets/img/wave.png') center/cover no-repeat;
    width: 100%;
    height: 35px;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
}