@import "../../../styles/colors.scss";
@import '../../../styles/fonts.scss';
@import '../../../styles/reset.scss';

.modal-wrapper {
	padding: 10px;
    width: 100%;
	min-height: 100%;
	background-color: #311851;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	.modal-header {
		width: 100%;
		height: 50px;
		position: relative;
		.modal-title {
			// position: absolute;
			// top: 17px;
			// left: 50%;
			// transform: translateX(-50%);
			text-align: center;
			padding-top: 16px;
			color: $white;
			font-family: 'Roboto-Medium';
			font-size: 16px;
		}
		.closed-btn-wrapper {
			position: absolute;
			top: 10px;
			right: 10px;
			.closed-btn {
				width: 30px;
				height: 30px;
				&:before {
					position: absolute;
					left: 15px;
					content: ' ';
					height: 30px;
					width: 2px;
					background-color: #cccccc;
					transform: rotate(45deg);
				}
				&:after {
					position: absolute;
					left: 15px;
					content: ' ';
					height: 30px;
					width: 2px;
					background-color: #cccccc;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.modal-container {
		display: flex;
		flex-direction: column;
		align-items: center;		
	}
  	.modal-form {
		display: inline-block;
		position: absolute;
		bottom: 10px;
		margin: auto;
		width: calc(100% - 20px);
		.modal-input {
			width: 100%;
			outline: none;
			border: 1px solid white;
			border-radius: 10px;
		}
		// .add-btn {
		// 	margin: 10px auto;
		// 	width: 20px;
		// 	height: 20px;
		// 	position: relative;
		// 	&:before {
		// 		position: absolute;
		// 		left: 9px;
		// 		content: ' ';
		// 		height: 20px;
		// 		width: 2px;
		// 		background-color: #cccccc;
		// 	}
		// 	&:after {
		// 		position: absolute;
		// 		left: 9px;
		// 		content: ' ';
		// 		height: 20px;
		// 		width: 2px;
		// 		background-color: #cccccc;
		// 		transform: rotate(-90deg);
		// 	}
	// }
	}
}

