@import "../../../styles/colors.scss";
@import '../../../styles/fonts.scss';
@import '../../../styles/reset.scss';

.modal-wrapper {
    width: 100%;
	min-height: 100%;
	background-color: #311851;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	overflow: scroll;
	.modal-header {
		display: flex;
		justify-content: center;
	}
	.modalItem-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

