@import "../../../styles/colors.scss";
@import '../../../styles/fonts.scss';
@import '../../../styles/reset.scss';

.commentsModal-wrapper {
	// padding: 10px;
    width: 100%;
	min-height: 100%;
	background-color: #311851;
	// background: linear-gradient(
    // 0deg,
    // rgba(49, 25, 81, 1) 0%,
    // rgba(65, 34, 102, 1) 50%
  	// );
	position: absolute;
	z-index: 999;
	.commentsModal-header {
		width: 100%;
		height: 50px;
		.commentsModal-header-title {
			text-align: center;
			padding-top: 16px;
			color: $white;
			font-family: 'Roboto-Medium';
			font-size: 20px;
		}
		.commentsModal-closed-btn-wrapper {
			position: absolute;
			top: 10px;
			right: 10px;
			.commentsModal-closed-btn {
				width: 30px;
				height: 30px;
				&:before {
					position: absolute;
					left: 15px;
					content: ' ';
					height: 30px;
					width: 2px;
					background-color: #cccccc;
					transform: rotate(45deg);
				}
				&:after {
					position: absolute;
					left: 15px;
					content: ' ';
					height: 30px;
					width: 2px;
					background-color: #cccccc;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.commentsModalItem-wrapper {
		max-width: 100%;
		height: calc(100% - 130px);
		overflow: scroll;
		position: absolute;	
		&:nth-last-child(){
			margin-bottom: 0;		
		}
	}
	.commentsModal-form {
		position: absolute;
		bottom: 10px;
		width: calc(100% - 20px);
		margin-right: 10px;
		margin-left: 10px;
		.commentsModal-textarea {
			width: 100%;
			box-sizing: border-box;
			resize: none;  
			outline: none;
			// border: 3px solid white;
			border: none;
			border-radius: 10px;
			font-family: 'Roboto-Regular';
			font-size: 14px;
			padding: 5px 35px 5px 5px;
			overflow: auto;
			float: left;
			&::placeholder {
				font-family: 'Roboto-Regular';
				font-size: 14px;
			}
		}
		.commentsModal-add-btn {
			float: right;
			margin-top: -30px;
			margin-right: 5px;
			border: none;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			position: relative;
			background-color: $main-blue;
			color: $white;
			font-size: 20px;
			line-height: 25px;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
		}
	}
}
