@import '../../../styles/reset.scss';
@import '../../../styles/fonts.scss';

.feed-back {
	display: flex;
	justify-content: space-around;

	.feed-back-toggle {
		
		width: 30px;
	}

	.likeActive {
	fill: limegreen;
	}

	.unlike {
	fill: tomato;
	}
}