@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.gm-style .gm-style-iw-c {
  border-radius: 60px 60px 60px 60px !important;
  -moz-border-radius: 60px 60px 60px 60px !important;
  -webkit-border-radius: 60px 60px 60px 60px !important;
  padding: 0 !important;
  overflow: none !important;
}
.gm-style .gm-style-iw-t{
  &:after{
    height: 25px!important;
    width: 25px!important;
  }
}
.gm-style-iw-d {
  overflow: hidden !important;
  padding-bottom: 10px;
  max-width: none !important;
  max-height: none!important;
  height: 400px;
  width: 260px;
}
.wrapperWindow {
  .wrapperImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    img {
      object-fit: cover;
      width: 260px;
      height: 240px;
    }
  }
  h4 {
    text-align: center;
    font-family: 'Roboto-Bold';
    font-size: 28px;
    color: #666666;
    padding: 20px 0 25px 0;
  }
  .linkMessage {
    text-align: center;
    background-color: $main-blue;
    border-radius: 126px 126px 126px 126px;
    -moz-border-radius: 126px 126px 126px 126px;
    -webkit-border-radius: 126px 126px 126px 126px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 210px;
    height: 60px;
    a {
      display: block;
      height: 100%;
      text-decoration: none;
      line-height: 2.6;
      letter-spacing: 3px;
      outline: none;
      color: $white;
      text-transform: uppercase;
      font-family: 'Roboto-Medium';
      font-size: 23px;
    }
  }
}
.wrapper {
  width: 100%;
  list-style: none;
  background-color: gray;
}
#map-style{
  height: calc(100% - 175px);
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
