* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  list-style: none;
  background-color: gray;
}
#example-app{
  margin: 0;
  padding: 0;
  height:650px;
  width: 412px;
}

.noMarker {
  dispaly: none;
}